/*font-family: 'Roboto', sans-serif;*/

* 
{
    margin: 0;
    padding: 0;
}

a 
{
    text-decoration: none;
}

body 
{
    font-family: 'Roboto', sans-serif;
}

/* HEADER */



/*   TIMETABLE   */

.timetable 
{
    background-color: #f0f0f0;
    color: #595959;
}

.timetable > article 
{
    width: 1219px;
    height: 3em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
}

/*   MAIL   */

.mail 
{
    padding-right: 2em;
    display: flex;
    align-content: center;
}

.mail > a 
{
    color: #595959;
    padding-left: 0.5em;
}

/*   CLOCK   */

.clock 
{
    display: flex;
    align-content: center;
}

.clock > span 
{
    padding-left: 0.5em;
}

/*   SNABSTROY   */

.snabstroy > article 
{
    width: 1219px;
    height: 8em;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: auto;
}

/*   LOGO   */

.logo 
{
    display: flex;
    align-items: center;
}

.logo > .img 
{
    background-color: red;
    padding: 0.5em;
}

.logo > .text 
{
    padding-left: 1em;
}


/*   INFO   */

.info {
    color: #595959;
    align-self: center;
    width: 20%;
}

/*   COST   */

.cost 
{
    background-color: red;
    align-self: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 0.5em;
}

.cost > a {
    color: white;
}

/*   CALL   */

.call 
{
    align-self: center;
    border: 1px solid red;
    border-radius: 5px;
    padding: 0.5em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.call > a
{
    color: red;
}

/*   NUMBER   */

.number 
{
    align-self: center;
}

.number > a > span
{
    color: #595959;
}

/*   NAVIGATION MENU   */

.navigation > article 
{
    margin: auto;
    width: 1219px;
    border-top: 2px solid #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.navigation > article > div
{
    padding: 1em;
}

.navigation > article > div:hover 
{
    border-top: 3px solid red;
    cursor: pointer;
    font-weight: bold;
}

/*   LIST   */

.list > img 
{
    padding-right: 0.5em;
}

/*   SEARCH   */

.search 
{
    border-left: 2px solid #f0f0f0;
    display: flex;
    align-items: center;
}

.search > img 
{
    padding-left: 4em;
}

.search:hover {
    border-top: 0px !important;
    border-bottom: 1px solid black;
    color: #595959;
    opacity: 0.3;
    cursor: text !important;
}


/*   INTRO   */

.intro 
{
    background-image: url(images/beton_bunk.jpg);
    background-size: cover;
}

.intro > article 
{
    margin: auto;
    width: 1219px;
}

.intro > article > div 
{
    width: 80%;
    margin: auto;
    padding-top: 3em;
    padding-bottom: 1em;
}

/*   */

.intro > article > div > .h1 
{
    width: 30%;
    font-size: 60px;
    font-weight: 700;
}

/*   */

.intro > article > div > .h2
{
    width: 50%;
    font-size: 24px;
    font-weight: 100;
    padding-top: 0.5em;
    padding-bottom: 1em;
} 

/*   */

.intro > article > div > .more 
{
    width: 16%;
    border: 2px solid black;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.intro > article > div > .more > p 
{
    font-size: 18px;
    font-weight: 700;
    padding: 15px 25px 15px 25px;
}

.intro > article > div > .more:hover 
{
    cursor: pointer;
}

/*   */

.intro > article > div > .curcle 
{
    width: 25%;
    margin: auto;
}

.intro > article > div > .curcle:hover 
{
    cursor: pointer;
}

/*   MAIN   */

.main > article 
{
    margin: auto;
    width: 1219px;
    display: flex;
}

.main > article > aside 
{
    width: 25%;
}

.main > article > aside > h3 
{
    padding: 1em;
    font-weight: 100;
}

.main > article > main 
{
    width: 75%;
}

/*   TYPES   */

.column1
{
    width: 90%;
}

.sub-menu 
{ 
   display: none;
   list-style: none; 
} 
.name:focus ~ .sub-menu, 
.name:active ~ .sub-menu, 
.sub-menu:hover 
{ 
   display: block; 
}

.type > .sub-menu > li > div
{
    padding: 1em;
}

.type > .sub-menu > li > div:hover
{
    cursor: pointer;
} 

.type > .sub-menu > li > div > a
{
    text-decoration: none;
    color: black;
}

.type > .sub-menu > li > div > a:hover
{
    font-weight: 700;
}

.type > .name 
{
    background: gray;
    padding: 1em;
}

.type > .name:hover
{
    cursor: pointer;
}